@import "variables.scss";

.data-editor{
    form{
        padding: 10px;
        .data-editor-question{
            display: flex;
            flex-direction: column;
            label{

            }
            input{
                width: 100%;
                height: 30px;
                font-size: 18px;
            }
            select{
                width: 100%;
                height: 30px;
                font-size: 18px;
            }
            .data-editor-question-different{
                display: flex;
                justify-content: space-between;
                .old-value{
                    font-size: 11px;
                    text-align: start;
                    color: $neon-orange;
                }
                .base-value{
                    font-size: 11px;
                    text-align: end;
                    color: $neon-orange;
                }
            }
        }
    }
}
