$darker-grey: #1E1E1E;
$dark-grey: #2A2D2E;
$grey: #333333;
$light-grey: #777777;
$neon-orange: #EB5C39;
$gold: rgb(165, 121, 66);
$green: #1d7a00;
$red: #7d0c00;
$yellow: #797d00;
$light-red: #ff7878;
$text-color: #d4d4d4;

$background-color: $darker-grey;
$sidebar-color: $dark-grey;
$btn-border: $text-color;
$save-btn-background: $green;
$save-btn-disabled-background: $red;

$discard-btn-background: $yellow;